
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="text-center">
    <form methode="post" asp-controller="Product" asp-action="Genpdf">
        <lable>Click hare</lable>
        <input type="submit" value="Generat pdf" />
    </form>
</div>